.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  opacity: 0.95;
  background-color: black;
  z-index: 100;
}

.story{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2vh 4vh;
  height: 60vh;
  width: 50vh;
  border-radius: 15px;
  opacity: 1;
  position: relative;
  color: white;
  box-sizing: border-box;
}

.picture{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.topSubContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}

.bottomSubContainer{
  width: 100%;
}

.images{
  padding: 1vh 2vh;
  cursor: pointer;
}

.description{
  font-size: small;
  font-weight: lighter;
  margin-bottom: 1vh;
}

.heading, .description{
  padding: 1vh 2vh;
}

.heading{
  font-size: larger;
}

.imgContainer{
  box-sizing: border-box;
  width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 1rem;
padding: 0px 3rem;
}
.leftSwipe, .rightSwipe{
  cursor: pointer;
}

.bookmark, .like{
  cursor: pointer;
}