.container{
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
}

.category{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 98vw;
  margin-top: 2vh;
  /* overflow-y: hidden; */
  /* border: 1px solid red; */
}

.subContainer{
  width: 98vw;
  /* border: 1px solid red; */
}
.categoryHead{
  /* position: absolute;
  top: 50px; */
  color: white;
  /* margin-top: 10vh; */
  z-index: 10;
}


.imgBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vh;
  height: 20vh;
  width: 20vh;
  border-radius: 15px;
  /* background: black; */
  opacity: 0.9;
  position: relative;
  /* top: 0px; */
  color: white;
  cursor: pointer;
  /* z-index: 1; */
  /* border: 1px solid red; */
}

.image{
  height: 20vh;
  width: 20vh;
  border-radius: 15px;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.categoryBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
}

.storyBox{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1vh;
  width: 100vw;
  /* border: 1px solid red; */
}

.imgWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 2vh 4vh;
  height: 35vh;
  width: 25vh;
  border-radius: 15px;
  /* background: black; */
  opacity: 0.9;
  position: relative;
  /* top: 0px; */
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.picture{
  height: 35vh;
  width: 25vh;
  border-radius: 15px;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.description{
  font-size: small;
  font-weight: lighter;
  margin-bottom: 1vh;
}

.button{
  background: white;
  color: black;
  padding: 0.5vh 2vh;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: 1vh;
}

.noStory{
  margin-top: 5vh;
  margin-bottom: 5vh;
}